<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676979726532-l0ja5n6u7rc103ai5d1ahf1aq4cspuhl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676979726532-l0ja5n6u7rc103ai5d1ahf1aq4cspuhl</string>
	<key>API_KEY</key>
	<string>AIzaSyBGJV1qmcSwf1vauQK-JrMl3bK0jIiwIwU</string>
	<key>GCM_SENDER_ID</key>
	<string>676979726532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.tuyetvoi.mobile</string>
	<key>PROJECT_ID</key>
	<string>tuan-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>tuan-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676979726532:ios:443c49de02b3a92e281191</string>
</dict>
</plist>